@tailwind base;
@tailwind components;
@tailwind utilities;

/* Any custom CSS here */
.bg-edu { background-color: #2563eb; }
.bg-health { background-color: #059669; }
.bg-env { background-color: #84cc16; }
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

